.Chevrolet_text{
    text-align: center;
}

.Chevrolet_box{
    margin-top: 100px;
    margin: auto;
    width: 800px;
    height: 500px;
    margin-bottom: 100px;
}

.Chevrolet__img{
    width: 100%;
    height: 100%;
}