*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.mers_text{
    text-align: center;
    margin-top: 50px;
}

.box{
    margin-top: 100px;
    margin: auto;
    width: 550px;
    height: 500px;
}

.img{
    width: 100%;
    height: 100%;
}

.mers_list{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
